@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// миксин для текста с градиентом
@mixin text-gradient($direction) {
	background: linear-gradient($direction, #8176af, #c0b7e8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #302c42;
	font-family: 'Montserrat', sans-serif;
}

a,
p,
h1,
h2,
h3 {
	font-family: inherit;
	color: white;
	text-decoration: none;
}

.purple-button {
	color: black;
	background: linear-gradient(to right, #8176af, #c0b7e8);
	border: none;
	border-radius: 40px;
}

.transparent-button {
	border: 2px solid white;
	color: white;
	background-color: transparent;
	border-radius: 40px;
}
